/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.row-3 {
  float: left;
  width: 33.3333%;
  text-align: center;
  padding: 0 5%;
}

.row-2 {
  float: left;
  width: 50%;
  padding-top: 3%;
}


/******************************************
/* LAYOUT
/*******************************************/
header{
  height: 50px;
 background-color: white;
}

nav ul li {
  float:left;
  width: 10%;
}

li a {
  color: #000;
}

main {
  background-image: url(../assets/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  height: 1000px;
  padding-left: 10%;
  color: white;
}

main > h1 {
  width: 60%;
  padding-top: 15%;
  font-size: 96px;
  margin: 0;
}

main > a {
  background: black;
  color: white;
  padding: 20px;
  padding-top: 10px;
}

main > p {
  letter-spacing: 4px;
}
aside {
  margin-top: 155px;
  background: black;
  padding: 20px;
  width: 15%;
  height: 250px;
}

aside span {
  color: white;
  font-size: 32px;
}

aside a {
  background-color: white;
  padding: 15px;
  margin-top: 200px;
  color: black;
}

.features {
  padding: 5% 10%;
  height: 500px;
}

.videoSection {
background-color: lightgray;
width: 100%;
height: 500px;
font-size: 20px;
}

.video img {
  height: 90%;
}

.words {
  padding-left: 20%;
}

.words h4 {
  font-size: 42px;
  width: 80%;
 margin: 0 auto;
 padding-bottom: 10px;
}

.words p {
  width: 80%;
  margin: 0 auto;
  font-size: 12 px;
  padding-bottom: 75px;
}

.words > a {
  padding: 5%;
  background-color: black;
  color: white;
  margin-left: 10%;
}

.stylists {
  padding:5% 0;
  width: 100%;
}

.stylists h5, .stylists p {
  color: white;
  background-color: black;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
}

.stylists h5 {
  font-size: 24px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
